body {
    background-image: url("../images/Register.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Adjust other background properties if needed */
}
.container{
    margin-top: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
    padding: 20px;
}
