{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/contact.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-light text-center mb-4">Contact Us</h2>
    <form id="form">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="mb-3">
                    <label for="name1" class="form-label fw-bolder">Full Name</label>
                    <input type="text" class="form-control" id="name1" placeholder="Your Name" />
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="mb-3">
                    <label for="email1" class="form-label fw-bolder">Email address</label>
                    <input type="email" class="form-control" id="email1" placeholder="name@example.com" />
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="mb-3">
                    <label for="textarea" class="form-label fw-bold">Write a Message</label>
                    <textarea class="form-control" id="textarea" rows="3"></textarea>
                </div>
                <button class="btn w-100 " type="submit">Send A Message</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
